{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "websocket_chatroom"}} - {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "body"}}
<div class="container">
    <h3>{{i18n .Lang "username"}}: <span id="uname">{{.UserName}}</span> <span  id="clientId" style="display:none"></span></h3>
    <h4>{{i18n .Lang "send_box"}}:</h4>
    <form class="form-inline">
        <div class="col-md-6 form-group">
            <input id="sendbox" type="text" class="form-control" onkeydown="if(event.keyCode==13)return false;" required>
        </div>
		<div class="col-md-3 form-group">
		<select id="onlineUserSelect">
			<option value="-1">--发给所有人--</option>
		</select>
		</div>
		<div class="col-md-2 form-group">
        <button id="sendbtn" type="button" class="btn btn-default">{{i18n .Lang "Send"}}</button>
		</div>
    </form>
</div>

<div class="container">
    <h3>{{i18n .Lang "chat_history"}}:</h3>
    <ul id="chatbox">
        <li>{{i18n .Lang "welcome"}}</li>
    </ul>
</div>
{{end}}
<script type="text/javascript">
$(function(){
    $('#onlineUserSelect').click(function(){
         $.ajax({
             type: "GET",
             url: "/user/get-online-users",
             //data: {username:$("#username").val(), content:$("#content").val()},
             dataType: "json",
             success: function(data){
	              $.each(data, function (index, item) {  
	                var id = data[index].ClientId; 
	                var text = data[index].UserName; 
					if (!isExistOption('onlineUserSelect',id)) {
						$("#onlineUserSelect").append("<option value='"+id+"'>"+text+"</option>");
					}
	                  
	              }); 
             }
         });
    });
});

function isExistOption(id,value) {  
    var isExist = false;  
    var count = $('#'+id).find('option').length;  

      for(var i=0;i<count;i++)     
      {     
         if($('#'+id).get(0).options[i].value == value)     
             {     
                   isExist = true;     
                        break;     
                  }     
        }     
        return isExist;  
} 
</script>